<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Mac Parkman Dashboard</title>
    <script src="https://cdn.socket.io/4.3.2/socket.io.min.js"></script>
</head>
<body>
    <h1>Real-Time Accelerometer Data</h1>
    <p>X: <span id="x">--</span></p>
    <p>Y: <span id="y">--</span></p>
    <p>Z: <span id="z">--</span></p>
    
    <script>
        const socket = io();
        socket.on('sensor_data', function(data) {
            document.getElementById('x').innerText = data.x.toFixed(2);
            document.getElementById('y').innerText = data.y.toFixed(2);
            document.getElementById('z').innerText = data.z.toFixed(2);
        })
    </script>
</body>
</html>